* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.app {
  font-family: sans-serif;
  text-align: center;
  min-height: 60vh;
  max-height: 70vh;
  width: 100%;
  background-color: bisque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App_input_text {
  padding: 10px;
  border-radius: 5px;
  /* border: 0.5px solid #e5e5e5; */
  border: none;
  min-width: 80%;
}

.App_section_btn {
  display: flex;
  justify-content: space-evenly;
}

.App_input_btn {
  padding: 10px 18px;
  max-width: 100px;
}
